# Configurações do NVR e Câmeras
NVR_IP=192.168.1.20
NVR_PORT=554
NVR_USER=admin
NVR_PASSWORD=

# Credenciais padrão das Câmeras Xiongmai (se aplicável)
CAM_DEFAULT_USER=admin
CAM_DEFAULT_PASSWORD=

# Configuração de Notificações
NTFY_SERVER=https://ntfy.sh
NTFY_TOPIC=bruno-casa-dallas

# Configuração de Portas do go2rtc
GO2RTC_API_PORT=1984
GO2RTC_RTSP_PORT=8554
GO2RTC_WEBRTC_PORT=8555
